header{
    border: 1px solid black;
    width: 100%;
    height: 50px;
}
.left_part{

    width: 100%;
    height: 50px;
    font-size: 22px;

    display: flex;
    align-items: center;
}

.left_part a{
    margin-left: 15px;
}